
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a{
    text-decoration: none;
  }

  input, button {
    outline: none !important;
    border: none;
  }

  @font-face {
    font-family: Inter-Black;
    src: url('../fonts/Inter/static/Inter-Black.ttf'); 
  }
  
  @font-face {
    font-family: Inter-Bold;
    src: url('../fonts/Inter/static/Inter-Bold.ttf'); 
  }
  
